@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1, h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
#shop_name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 100px;
    letter-spacing: 5px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: white;

}
body {
    background-image: url("background_ueberischt.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}
ul {
    padding: 0px;
}
.horizontal_nav {
    display: flex;
    background-color: black;
    justify-content: center;
}
.horizontal_nav .horizontal-li{
    display: inline-block;
    padding: 20px;
    color: white;
    font-size: 30px;
}

.vertical_nav {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.vertical_li {
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
}
a {
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}

a:hover {
    cursor: pointer;
}
a:visited {
    color: inherit;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-color: black;
    align-items: center;
    bottom: 0;
    margin-top: 1000px;
}