@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


h1, h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 45px;
}

body {
    background-color: black;
    background-size: cover;
    background-image: url("pizza_background.jpg");
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

.article_detail_flex_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 330px;
    padding: 10px;
    position: relative;
}
.article_detail:hover {
    cursor: pointer;
    opacity: 80%;
}
.article_detail:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

img {
    margin-top: 10px;
    width: 280px;
    height: 200px;
    border-radius: 10%;
    border-style: solid;
    border-color: white;
}

.name, .price{
    font-size: 20px;
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;

}

.price {
    color: white;
    border-style: none;
    border-radius: 10%;
    padding: 4px 12px;
    background-color: #C8102E;
}

#delimeterSection {
    background-color: black;
    height: 20px;
    margin-top: 70px;
    margin-bottom: 0px;
    padding: 0px;
}

.warenkorb_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    background-color: black;
    background-image: url("warenkorb_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

#BestellungsInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

label {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 35px;
    margin-left: 10px;
}

#gesamtpreis {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    letter-spacing: 5px;
    font-size: 35px;
}
select {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
}
#address_input {
    width: 500px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

#address_input::placeholder {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
}
option {
    font-size: 25px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    border-style: none;
    padding-left: 10px ;
    padding-right: 10px;
    background-color: #C8102E;
    margin: 10px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-color: black;
    align-items: center;
    bottom: 0;
    margin-top: 1000px;
}